<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="mdgroup1Entities" connectionString="metadata=res://*/mdModel.csdl|res://*/mdModel.ssdl|res://*/mdModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.31.11;initial catalog=group1;user id=bbb;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>